/* Start: Recommended Quicksand styles */

/*---------------------------------------------------- */
/* Quicksand styles */
/*---------------------------------------------------- */

.element img {
	height: auto;
}


/*---------------------------------------------------- */
/* Filter styles  */
/*---------------------------------------------------- */

#portfolio-options {
	position: relative;
	float: none;
	margin: 45px 10px 50px;
	border-bottom: 1px solid #ddd;
}
#filter.portfolio-filter {
	display: inline-block;
	list-style-type: none;
	border: 4px solid #e0484c;
	border: none;
	padding: 0;
	margin: 0 0 -1px 0;
}
#filter.portfolio-filter li {
	display: inline-block;
}
#filter.portfolio-filter li a {
	display: block;
	text-align: left;
	color: inherit;
	padding: 0 5px 10px;
	margin: 0 16px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
#filter.portfolio-filter li a:hover,
#filter.portfolio-filter li a.selected {
	color: #e0484c;
	background: none;
	border-bottom: 2px solid #e0484c;
}
.portfolio-wrapper {
	position: relative;
	height: auto !important;
}
.portfolio-wrapper #container-inner {
	max-width: 100%;
	position: relative !important;
}

/* Portfolio Style 1 - Specific */

/* Portfolio Style 2 - Specific */
#portfolio-options.style2 #filter.portfolio-filter li a {
	padding: 4px 18px;
	margin: 0 5px 15px 0;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
}
#portfolio-options.style2 #filter.portfolio-filter li a:hover,
#portfolio-options.style2 #filter.portfolio-filter li a.selected {
	color: #fff;
	background: #e0484c;
	border-bottom: 0;	
}

/*---------------------------------------------------- */
/* Hover styles  */
/*---------------------------------------------------- */

/* Set full width image for 1 column layout */
.column-1 .port-thumb img {
	width: 100%;
}

/* Portolio Hover */
.port-thumb li,
.port-thumb li  >a img,
.port-thumb,
.port-thumb img {
	display: block;
	position: relative;
}
.port-thumb li {
	padding: 0;
}
.port-thumb li article {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2;
	overflow: hidden;
	top: 0;
	left: 0;
}
.port-thumb li article::before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

/* Initial state classes: */
.port-thumb {
	position: relative;
	text-align:center;
	margin: 0;
	padding: 0;
	height: auto !important;
}
.port-thumb > li > a,
.port-thumb iframe {
	display: block;
}
.port-thumb .entry-content {
	width:100%;
	display: inline-block;
	vertical-align: middle;
}
.port-thumb .entry-content a ,
.port-thumb .entry-content a:hover {
	color: white;
}
.port-thumb .entry-content em {
	display:block;
	color:#fff;
	margin-bottom:10px;
}
.port-thumb .entry-content img {
	display:inline-block;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px
	border-radius: 0px;
}


/*---------------------------------------------------- */
/* Hover effect  */
/*---------------------------------------------------- */

/* Image and article effect */
.port-thumb:hover .image-overlay.style2 .hover-link,
.port-thumb:hover .image-overlay.style2 .hover-zoom,
.port-thumb:hover .hover-link,
.port-thumb:hover .hover-zoom {
	-webkit-transform: translate(0);
	-moz-transform: translate(0);
	-ms-transform: translate(0);
	-o-transform: translate(0);
	transform: translate(0)
}

/* Title effect */
.port-details {
	background: #FFF;
	padding: 15px 0px 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
.port-details p,
.port-title,
.port-tags {
	margin: 0;
}
.port-title {
	text-transform: uppercase;
	font-weight: 600;
}
.port-title a {
	color: inherit;
}
.port-title a:hover {
	color: #e0484c;
}
.port-details .more-link {
	margin: 35px 0 0;
}
.port-details .more-link a {
	padding: 8px 15px
}

/* Portfolio Style 1 - Specific */

/* Portfolio Style 2 - Specific */
.port-details.style2 {
	padding: 20px 20px 30px;
	margin-bottom: 10px;
	background: #FAFAFA;
}
.port-details.style2 .port-title {
	font-size: 25px;
	font-weight: 600;
}
.port-details.style2 .port-tags {
	margin-top: 10px;
}
.portfolio-wrapper .column-3 .port-details.style2 .port-title {
	font-size: 20px;
}
.portfolio-wrapper .column-4 .port-details.style2 .port-title {
	font-size: 16px;
}


/*---------------------------------------------------- */
/* Portfolio Slider & Featured Projects  */
/*---------------------------------------------------- */

#port-slider {
	padding: 20px 10px 5px;
}
#port-slider a.rslides_nav:hover {
}

#port-featured {
	padding: 0 10px;
}
#port-featured img {
	display: block;
}
#port-featured .port-title {
	color: #FFF;
	padding-top: 40px;
}
#port-featured .sc-carousel {
	padding: 0;
}
#port-featured .sc-carousel li {
	padding: 0 25px 0 0;
}
#port-featured .sc-carousel a.prev,
#port-featured .sc-carousel a.next {
	top: -25px;
}
#port-featured .sc-carousel a.next {
	right: 25px;
}
#port-featured .sc-carousel a.prev {
	left: auto;
	right: 65px;
}

/* Excerpt effect */


/* Link & lightbox image effect */